### ALDHYPRADIKAMENDROFA ###
#Template for AL projects for Dynamics 365 Business Central
#ALDHYPRADIKAMENDROFA
.vscode/
#ALDHYPRADIKAMENDROFA
.alcache/
#ALDHYPRADIKAMENDROFA
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*. ALDHYPRADIKAMENDROFA
#Rapid Application Development File
. ALDHYPRADIKAMENDROFA